
<div class="web-list-item mb-3">
    
		{% set receipts = frappe.get_all('Purchase Receipt', fields=['supplier', 'status','supplier_delivery_note','name']) %}
		<div class="row">
	        <div class="col-3">Supplier Name</div>
			<div class="col-2">Delivery Status</div>
			<div class="col-2">Delivery Number</div>
			<div class="col-5">Receipt Number</div>			
		</div>
		{% for receipt in receipts %}
		<a href="/deliverynumber?name={{ receipt.name | urlencode }}" class="no-underline text-reset">
	    <div class="row">
	        <div class="col-3">{{ receipt.supplier }}</div>
			<div class="col-2"> {{ receipt.status }}</div>
			<div class="col-2"> {{ receipt.supplier_delivery_note }} </div>
			<div class="col-5">{{ receipt.name }} </div>
		</div>
		{% endfor %}
    </a>
</div>

